<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
          
    </head>
    <body>
        <form th:action="@{/generador1}" th:object="${generador}" method="POST" enctype="utf8">
            <p th:text="${generador.mostrarCodigo()}"></p>


            <input type="submit" value="corregir" />
            <p>Click <a th:href="@{/home}">aqui</a> para volver al inicio .</p>
               <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        </form>
    </body>
</html>