<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
          
    </head>
    <body>
        <form th:action="@{/generador}"  method="Post">

            <p>Orden de Complejidad: <select name= "complex">
                <option value="constante" >Constante</option>
                <option value="logaritmica" >Logaritmica</option>
                <option value="lineal" >Lineal</option>
                <option value="nlog" >nlog</option>
                <option value="cuadratica" >Cuadratica</option>
                <option value="cubica" >Cubica</option>
                <option value="exponencial" >Exponencial</option>
                </select></p>
            
            <p>Cantidad Metodos: <input type="number" min="1" max="5" name="metodos"> </p>
            <p>Cantidad variables: <input type="number" min="1" max="20" name="var"> </p>
            <p>Cantidad variables Array: <input type="number"  min="1" max="20" name="varA"> </p>
            <p>Nº maximo bucles por tipo: <input type="number" min="1" max="5" name="bucles"> </p>
            

            <input type="submit" value="Generar" />
            <p>Click <a th:href="@{/home}">aqui</a> para volver al inicio .</p>
  <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
        </form>
    </body>
</html>