<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
    </head>
    <body>
        <h1 th:inline="text">Bienvenido [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <form th:action="@{/generadorAlumno}" method="post">
            <input type="submit" value="Tus Ejercicios"/>
        </form>
    </body>
</html>