
<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
    </head>
    <body>
        <h1>Welcome!</h1>

        <p>Click <a th:href="@{/hello}">here</a> to see a greeting or <a th:href="@{/users}">here</a> to see users.</p>
         <p>Click <a th:href="@{/newuser}">here</a> to create a new user .</p>
         <p>Click <a th:href="@{/generador}">here</a> to go generator .</p>
    </body>
</html>