
<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
    </head>
    <body>
        <h1>Bienvenido!</h1>

        <p>Click <a th:href="@{/hello}">aqui</a> para ir a tu perfil o <a th:href="@{/users}">aqui</a> para ver usuarios.</p>
         <p>Click <a th:href="@{/generador}">aqui</a> para ir al generador .</p>
    </body>
</html>