<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
        <link rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" type="text/css">
         
    </head>
    <body>
        <h1 th:inline="text">Bienvenido [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/>
        </form>
        <form th:action="@{/generadorAlumno}" method="post">
            <input type="submit" value="Tus Ejercicios"/>
        </form>
        <form th:action="@{/users}" method="get">
            <input type="submit" value="Usuarios"/>
        </form>
         <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
            <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    </body>
</html>