<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
    </head>
    <body>
       <form th:action="@{/updateuser/} +${user.getUsername()}" th:object="${user}"  method="Post">
       <table>
                    <tr>
                        <td>
                            Usuario:
                        </td>

                        <td>

                            <input th:field="*{username}"/>
                            <p th:each="error: ${#fields.errors('username')}" 
                               th:text="${error}">Validation error</p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Contraseña:
                        </td>

                        <td>

                            <input th:field="*{password}"/>
                            <p th:each="error: ${#fields.errors('password')}" 
                               th:text="${error}">Validation error</p>



                        </td>
                    </tr>
                    <tr>
                        <td>
                            Complex:
                        </td>

                        <td>


                            <select th:field="*{complex_u}">
                                <option value="constante" >Constante</option>
                                <option value="logaritmica" >Logaritmica</option>
                                <option value="lineal" >Lineal</option>
                                <option value="nlog" >nlog</option>
                                <option value="cuadratica" >Cuadratica</option>
                                <option value="cubica" >Cubica</option>
                                <option value="exponencial" >Exponencial</option>
                                <option value="Ninguna" >Ninguna</option>
                            </select>
                            <p th:each="error: ${#fields.errors('complex_u')}" 
                               th:text="${error}">Validation error</p>

                        </td>
                    </tr>
                    <tr>
                        <td>
                            Rol:
                        </td>

                        <td>

                            <select th:field="*{rol_u}">
                                <option value="Profesor" >Profesor</option>
                                <option value="Alumno" >Alumno</option>
                            </select>
                            <p th:each="error: ${#fields.errors('rol_u')}" 
                               th:text="${error}">Validation error</p>

                        </td>
                    </tr>
                </table>
        
            <input type="submit" value="Modificar" />

        </form>
    </body>
</html>