<!CGS>
<!Angel Loro>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>CGS</title>
    </head>
    <body>
        <h1 th:inline="text">users [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/users}" th:object="${user}" method="POST" enctype="utf8">

            <table class="table table-striped table-bordered">

                <thead class="thead-dark">

                    <tr>
                        <th>ID</th>
                        <th>username</th>
                        <th>rol</th>
                        <th>complex</th>
                        <th>delete</th>
                        <th>update</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="user: ${listUsers}">
                        <td th:text="${user.getId()}">ID</td>
                        <td th:text="${user.getUsername()}">username</td>
                        <td th:text="${user.getRol_u()}">rol</td>
                        <td th:text="${user.getComplex_u()}">complex</td>
                        <td><a th:href="@{deleteuser/} + ${user.getUsername()}" th:text="'Eliminar'" class="btn btn-outline-danger"></a></td>

                    </tr>
                </tbody>
            </table> 


            <select name="username" >
                <table class="table table-striped table-bordered">

                    <tr>                      
                        <th>username</th>
                  

                    </tr>


                    <tr th:each="user: ${listUsers}">    
                        <option>
                            <td th:text="${user.getUsername()}">username</td>                            
                        </option>

                    </tr>


                </table> 

            </select>
            <div>
                <button type="edit" >submit</button>
            </div>
        </form>

    </body>
</html>